### Set up the database connection

In [2]:
import pandas as pd

from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.orm import sessionmaker

sapphire8_md = MetaData(schema='SAPPHIRE8')
engine = create_engine('oracle://sapphire_r:sapphire_r0@labvprd')
Session = sessionmaker(bind=engine)
session = Session()

SDIAlias = Table('SDIALIAS', sapphire8_md, autoload=True, autoload_with=engine)
print(SDIAlias.columns)

ImmutableColumnCollection(SDIALIAS.sdcid, SDIALIAS.keyid1, SDIALIAS.keyid2, SDIALIAS.keyid3, SDIALIAS.aliasid, SDIALIAS.aliastype, SDIALIAS.usersequence, SDIALIAS.auditsequence, SDIALIAS.createdt, SDIALIAS.createby, SDIALIAS.createtool)

### N.B. : Be sure to isolate out LTCOPD and EOCOPD samples

In [13]:
from pathlib import Path


### WGS
FREEZE_10A_PATH = Path('/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10a/manifests/nwdids.txt')
FREEZE_10B_IRC_PATH = Path('/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10b.irc/manifests/nwdids.txt')

### Methylation

METHYLATION_PATHS = [
    Path('/proj/regeps/regep00/studies/TopMed/data/epigenetic/methylation/data/raw/CAMP/Manifest.txt'),
    Path('/proj/regeps/regep00/studies/TopMed/data/epigenetic/methylation/data/raw/CRA/Manifest.txt'),
    Path(''),
    Path(''),
    Path(''),
]

### RNA

### Phenotype

### NWDIDs

In [4]:
nwdids = pd.read_sql(session.query(SDIAlias).where(SDIAlias.c.aliasid.like('NWD%')).statement, engine)
nwdids

,sdcid,keyid1,keyid2,keyid3,aliasid,aliastype,usersequence,auditsequence,createdt,createby,createtool
0,Sample,S-001121917,GECOPD,(null),NWD821619,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None
1,Sample,S-001117816,GECOPD,(null),NWD726953,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None
2,Sample,S-001117529,GECOPD,(null),NWD268729,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None
3,Sample,S-001117825,GECOPD,(null),NWD587326,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None
4,Sample,S-001116627,GECOPD,(null),NWD991943,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None
...,...,...,...,...,...,...,...,...,...,...,...
24040,Sample,S-000562030,PLCOPD,(null),NWD983301,Clinical Site,NaN,None,2020-02-04 12:43:44,reari,None
24041,Sample,S-000453712,GLAXO,(null),NWD518877,Clinical Site,NaN,None,2020-02-04 12:43:44,reari,None
24042,Sample,S-000453112,GLAXO,(null),NWD778415,Clinical Site,NaN,None,2020-02-04 12:43:44,reari,None
24043,Sample,S-000510830,PLCOPD,(null),NWD290305,Clinical Site,NaN,None,2020-02-04 12:43:44,reari,None
24044,Sample,S-000448289,GLAXO,(null),NWD622204,Clinical Site,NaN,None,2020-02-04 12:43:44,reari,None

### TOEIDs

In [17]:
toeids = pd.read_sql(session.query(SDIAlias).where(SDIAlias.c.aliasid.like('TOE%')).statement, engine)
toeids

,sdcid,keyid1,keyid2,keyid3,aliasid,aliastype,usersequence,auditsequence,createdt,createby,createtool
0,Sample,S-001750512,GECOPD,(null),TOE916281,TOPMed ID,None,None,2019-11-05 10:47:16,reari,None
1,Sample,S-001738798,GECOPD,(null),TOE679482,TOPMed ID,None,None,2019-11-05 10:47:16,reari,None
2,Sample,S-001775765,GECOPD,(null),TOE636099,TOPMed ID,None,None,2019-11-05 10:47:16,reari,None
3,Sample,S-001790188,GECOPD,(null),TOE912169,TOPMed ID,None,None,2019-11-05 10:47:16,reari,None
4,Sample,S-001779776,GECOPD,(null),TOE297391,TOPMed ID,None,None,2019-11-05 10:47:16,reari,None
...,...,...,...,...,...,...,...,...,...,...,...
19270,Sample,S-001117688,GECOPD,(null),TOE679872,TOPMed ID,None,None,2020-03-10 13:17:43,reari,None
19271,Sample,S-000960954,GECOPD,(null),TOE698248,TOPMed ID,None,None,2020-03-10 13:17:43,reari,None
19272,Sample,S-001556937,GECOPD,(null),TOE394639,TOPMed ID,None,None,2020-03-10 13:17:43,reari,None
19273,Sample,S-000958836,GECOPD,(null),TOE654345,TOPMed ID,None,None,2020-03-10 13:17:43,reari,None
19274,Sample,S-001866883,GECOPD,(null),TOE106879,TOPMed ID,None,None,2020-07-07 12:30:27,reari,None

### TORIDs

In [18]:
torids = pd.read_sql(session.query(SDIAlias).where(SDIAlias.c.aliasid.like('TOR%')).statement, engine)
torids

,sdcid,keyid1,keyid2,keyid3,aliasid,aliastype,usersequence,auditsequence,createdt,createby,createtool
0,LV_Subject,ST-00067086,(null),(null),TORIA,Secondary Recruitment Id,None,None,NaT,None,migration
1,Sample,S-001717416,LTRC,(null),TOR181928,TOPMed ID,None,None,2018-11-05 13:20:48,reari,None
2,Sample,S-001716396,LTRC,(null),TOR145805,TOPMed ID,None,None,2018-11-05 13:20:48,reari,None
3,Sample,S-001718065,LTRC,(null),TOR341427,TOPMed ID,None,None,2018-11-05 13:20:48,reari,None
4,Sample,S-001717850,LTRC,(null),TOR521662,TOPMed ID,None,None,2018-11-05 13:20:48,reari,None
...,...,...,...,...,...,...,...,...,...,...,...
2442,Sample,S-001697638,LTRC,(null),TOR554968,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None
2443,Sample,S-001700484,LTRC,(null),TOR440832,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None
2444,Sample,S-001696760,LTRC,(null),TOR229178,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None
2445,Sample,S-001749688,LTRC,(null),TOR965790,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None
2446,Sample,S-001693725,LTRC,(null),TOR105349,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None

## Now: All TOPMed samples (NWD, TOE, TOR)

In [22]:
topmed_samples = pd.concat([nwdids, toeids, torids]).reset_index()
topmed_samples['sample_type'] = topmed_samples['aliasid'].str[:3]
topmed_samples

### Grouped by Study

In [26]:
topmed_samples.groupby(['keyid2', 'sample_type']).size()

keyid2  sample_type
(null)  TOR                1
BRCOPD  TOR               38
CAMP    NWD             2578
        TOE             1699
CONTRL  TOE                1
CRA     NWD             5345
        TOE             1300
ECLPSE  NWD             2465
EOCOPD  NWD              268
GECOPD  NWD            11020
        TOE            13046
        TOR              760
GLAXO   NWD              455
LTCOPD  NWD               10
        TOE               10
        TOR                9
LTRC    NWD             1686
        TOE             3219
        TOR             1639
PLCOPD  NWD              218
dtype: int64

,index,sdcid,keyid1,keyid2,keyid3,aliasid,aliastype,usersequence,auditsequence,createdt,createby,createtool,sample_type
0,0,Sample,S-001121917,GECOPD,(null),NWD821619,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None,NWD
1,1,Sample,S-001117816,GECOPD,(null),NWD726953,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None,NWD
2,2,Sample,S-001117529,GECOPD,(null),NWD268729,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None,NWD
3,3,Sample,S-001117825,GECOPD,(null),NWD587326,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None,NWD
4,4,Sample,S-001116627,GECOPD,(null),NWD991943,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None,NWD
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45762,2442,Sample,S-001697638,LTRC,(null),TOR554968,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None,TOR
45763,2443,Sample,S-001700484,LTRC,(null),TOR440832,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None,TOR
45764,2444,Sample,S-001696760,LTRC,(null),TOR229178,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None,TOR
45765,2445,Sample,S-001749688,LTRC,(null),TOR965790,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None,TOR
45766,2446,Sample,S-001693725,LTRC,(null),TOR105349,TOPMed ID,None,None,2020-03-06 17:11:51,reari,None,TOR

Stupid Auto-save lost my Progress!!!!!

In [5]:
nwdids.groupby('keyid2').size()

keyid2
CAMP       2578
CRA        5345
ECLPSE     2465
EOCOPD      268
GECOPD    11020
GLAXO       455
LTCOPD       10
LTRC       1686
PLCOPD      218
dtype: int64

In [8]:
freeze10 = pd.read_csv(FREEZE_10A_PATH, names=(['SampleAlias',]))
freeze10

       SampleAlias
0        HGDP00001
1        HGDP00009
2        HGDP00003
3        HGDP00005
4        HGDP00007
...            ...
184873   NWD999974
184874   NWD999977
184875   NWD999984
184876   NWD999988
184877   NWD999992

[184878 rows x 1 columns]

In [9]:
freeze10_sapphire = freeze10.merge(nwdids, left_on='SampleAlias', right_on='aliasid')
freeze10_sapphire

,SampleAlias,sdcid,keyid1,keyid2,keyid3,aliasid,aliastype,usersequence,auditsequence,createdt,createby,createtool
0,NWD100018,Sample,S-001174464,GECOPD,(null),NWD100018,Clinical Site,NaN,None,2016-07-05 09:41:41,reari,None
1,NWD100047,Sample,S-000614256,EOCOPD,(null),NWD100047,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None
2,NWD100059,Sample,S-000554104,GECOPD,(null),NWD100059,Clinical Site,NaN,None,2016-07-05 09:41:41,reari,None
3,NWD100066,Sample,S-000671258,CRA,(null),NWD100066,Clinical Site,NaN,None,2017-04-06 13:02:41,reari,None
4,NWD100095,Sample,S-000964706,GECOPD,(null),NWD100095,Clinical Site,NaN,None,2018-04-25 11:04:42,reari,None
...,...,...,...,...,...,...,...,...,...,...,...,...
20834,NWD999849,Sample,S-001116669,GECOPD,(null),NWD999849,Clinical Site,NaN,None,2016-07-18 14:53:49,reari,None
20835,NWD999930,Sample,S-001174118,GECOPD,(null),NWD999930,Clinical Site,NaN,None,2016-07-05 09:41:41,reari,None
20836,NWD999937,Sample,S-000618134,CRA,(null),NWD999937,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None
20837,NWD999969,Sample,S-000969098,GECOPD,(null),NWD999969,Clinical Site,NaN,None,2016-07-05 09:41:41,reari,None
20838,NWD999984,Sample,S-001128429,GECOPD,(null),NWD999984,Clinical Site,NaN,None,2015-01-09 11:21:48,reari,None

In [10]:
freeze10_sapphire.groupby('keyid2').size()

keyid2
CAMP       1963
CRA        4342
ECLPSE     2331
EOCOPD       74
GECOPD    10588
LTRC       1541
dtype: int64

In [16]:
freeze10_irc = pd.read_csv(FREEZE_10B_IRC_PATH, names=['SampleAlias',])
freeze10_irc

      SampleAlias
0       NWD100018
1       NWD100047
2       NWD100059
3       NWD100095
4       NWD100109
...           ...
15554   NWD996014
15555   NWD996397
15556   NWD997325
15557   NWD998236
15558   NWD998723

[15559 rows x 1 columns]

In [18]:
freeze10_irc_sapphire = freeze10_irc.merge(nwdids, left_on='SampleAlias', right_on='aliasid')
freeze10_irc_sapphire
freeze10_irc_sapphire.groupby('keyid2').size()

keyid2
ECLPSE     2331
EOCOPD      235
GECOPD    10588
GLAXO       454
LTRC       1541
PLCOPD      218
dtype: int64